@import url('https://fonts.googleapis.com/css2?family=Spartan:wght@400;500;700&display=swap');

:root {
    --very-dark-magenta: hsl(300, 43%, 22%);
    --soft-pink: hsl(333, 80%, 67%);

    --dark-grayish-magenta: hsl(303, 10%, 53%);
    --light-grayish-magenta: hsl(300, 24%, 96%);
    --white: hsl(0, 0%, 100%);
}

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    font-family: 'Spartan';
}

html {
    font-size: 62.5%;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 1.5rem;
}

.backg {
    display: flex;
    justify-content: space-around;

    width: 100vw;
    height: 100vh;

    overflow: hidden;
}

.backg-top {
    flex: 1;

    background-image: url(../images/bg-pattern-top-desktop.svg);
    background-repeat: no-repeat;
    background-size: contain;

    position: relative;
    top: -70px;
}

.backg-bottom {
    flex: 1;

    background-image: url(../images/bg-pattern-bottom-desktop.svg);
    background-repeat: no-repeat;
    background-size: contain;

    position: relative;
    top: 180px;
    left: -200px;
}

.container {
    position: absolute;
    z-index: 99;

    align-self: center;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.top {
    display: flex;
    justify-content: space-between;

    width: 100%;

    margin-bottom: 8rem;
}

.title {
    max-width: 46rem;
}

.title h1 {
    font-size: 4.2rem;
    font-weight: 700;
    color: var(--very-dark-magenta);
}

.title p {
    margin-top: 1.5rem;
    font-weight: 500;
    line-height: 2.5rem;

    color: var(--dark-grayish-magenta);
}

.ratings {
    display: flex;
    flex-direction: column;
    align-items: center;

    width: 545px;

    font-weight: 700;
    color: var(--very-dark-magenta);
}

.rating {
    display: flex;
    width: 445px;
    padding: 2.2rem 0rem 2.2rem 3.4rem;

    background-color: var(--light-grayish-magenta);
    border-radius: 0.8rem;
}

.rating:nth-child(1) {
    align-self: flex-start;
}

.rating:nth-child(2) {
    align-self: center;
}

.rating:nth-child(3) {
    align-self: flex-end;
}

.rating ul {
    list-style: none;
    margin-right: 3.4rem;
}

.rating li {
    display: inline;
}

.rating:nth-child(2) {
    margin: 1.8rem 0rem;
}

.cards {
    display: flex;
    justify-content: space-between;

    height: 295px;
}

.card {
    padding: 4.1rem 3rem;

    max-width: 390px;

    background-color: var(--very-dark-magenta);
    border-radius: 0.8rem;
    color: var(--white);
}

.card:nth-child(1) {
    align-self: flex-start;
}

.card:nth-child(2) {
    align-self: center;
    margin: 0rem 3rem;
}

.card:nth-child(3) {
    align-self: flex-end;
}

.user-data {
    display: flex;
    align-items: center;
}

.user-data img {
    width: 42px;
    height: 42px;
    margin-right: 2.2rem;
    border-radius: 50%;
}

.user {
    line-height: 2.5rem;
}

.user-name {
    font-weight: 700;
}

.user-occupation {
    color: var(--soft-pink);
}

.card cite {
    display: block;
    margin-top: 3rem;

    font-style: normal;
    line-height: 2.5rem;
}

@media (max-width: 1024px) {
    .backg-top,
    .backg-bottom {
        display: none;
    }

    .container {
        top: 0;
        max-width: 390px;
        height: auto;
        margin: 4rem;

        border: 1px solid rebeccapurple;
    }

    .top {
        display: flex;
        flex-direction: column;
        justify-content: center;

        height: auto;
    }

    .title {
        margin-bottom: 4.8rem;
    }

    .title h1,
    p {
        text-align: center;
    }

    .ratings {
        width: auto;
    }

    .rating {
        flex-direction: column;
        align-items: center;

        padding-left: 0;
    }

    .rating ul {
        margin: 0rem 0rem 1.6rem 0rem;
    }

    .rating:nth-child(1),
    .rating:nth-child(2),
    .rating:nth-child(3) {
        align-self: auto;
    }

    .cards {
        display: flex;
        flex-direction: column;
        justify-content: center;

        height: auto;
    }

    .card:nth-child(1),
    .card:nth-child(2),
    .card:nth-child(3) {
        align-self: center;
    }

    .card:nth-child(2) {
        margin: 2rem 0rem;
    }
}
